.blog-post-card{
    background-color: white;
    width: 80%;
    text-align: center;
    border-radius: 10px;
}

.post-img{
    width: 100%;
    border-bottom: 4px solid #ccc;
}

.post-content{
    padding: 10px;
}

.post-title, .post-excerpt{
    color: black;
    margin: 5px;
}

.read-more{
    color: black;
    background-color: white;
    width: 100%;
    border-bottom: 5px;
    margin: 5px;
    padding: 2px;
    border-radius: 10px;
    display: inline-block;


}

.read-more:hover{
        color: white;
        background-color: blue;
        cursor: pointer;
      
}